body {
  font-family: Oswald,Arial, Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 200px 0px 0px 0px;
  width: 100%;
}

@media (max-width:1000px) {
  body {
    margin-top: 300px;
  }
}







