.img-box1 {
    margin: 15px ;
    display: flex;
    width: 1000px;
    height: 500px;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: ib1 30s infinite step-start reverse;
  
  }


  @keyframes ib1 {
    0% {background-image: url(img3.jpg);}
    20% {background-image: url(img4.jpg);}
    30% {background-image: url(img5.jpg);}
    50% {background-image: url(img6.jpg);}
    80% {background-image: url(img2.jpg);}
    90% {background-image: url(img1.jpg);}
    100% {background-image: url(img3.jpg);}
    }

  .img-box2 {
    margin: 15px ;
    display: flex;
    width: 1000px;
    height: 500px;
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: ib2 30s infinite step-start alternate-reverse;
  }

  @keyframes ib2 {
    0% {background-image: url(img3.jpg);}
    20% {background-image: url(img4.jpg);}
    30% {background-image: url(img5.jpg);}
    50% {background-image: url(img6.jpg);}
    80% {background-image: url(img2.jpg);}
    90% {background-image: url(img1.jpg);}
    100% {background-image: url(img3.jpg);}
    }

  .img-box3 {
    margin: 15px ;
    display: flex;
    width: 1000px;
    height: 500px;
    background-image: url(img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    animation: ib3 30s infinite step-start;
  
  }

  @keyframes ib3 {
    0% {background-image: url(img3.jpg);}
    20% {background-image: url(img4.jpg);}
    30% {background-image: url(img5.jpg);}
    50% {background-image: url(img6.jpg);}
    80% {background-image: url(img2.jpg);}
    90% {background-image: url(img1.jpg);}
    100% {background-image: url(img3.jpg);}
    }


